<<<<<<< HEAD
.title {
    background-color: rgba(38, 131, 77, 0.541);
    padding: 1px;
=======
.title {
    background-color: rgba(38, 131, 77, 0.541);
    padding: 1px;
>>>>>>> eef872ad41ecbf2e138463654d8874623eb986b0
}